html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  background: #fafafa;
}


/*Just a quick fix for the scope of the project*/
.material-icons{
  cursor: pointer;
}
